.container {
  display: flex;
}

.sidebar {
  width: 300px;
  height: 850px;
}

.filters {
  width: 80vw;
  height: 80px;
  background-color: red;
}

.sort-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.columns {
  display: flex;
  justify-content: space-between;
}
.products {
  height: 850px;
  width: 75%;
}
.checkout {
  height: 750px;
  width: 25%;
}
