.container {
  display: flex;
}

.sidebar {
  width: 250px;
  /* width: 300px; */
  height: 100vh;
}

section > .top-section {
  width: 85vw;
  height: 80px;
}

section > .sort-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 72%;
}
.columns {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.columns .checkout {
  width: 30%;
}

@media (max-width: 1200px) {
  .columns .checkout {
    display: none;
  }
  .columns .products {
    width: 100%;
  }
  .top-section .profile-info {
    display: none;
  }
}

@media (max-width: 900px) {
  .sidebar {
    min-width: 120px;
  }
  .sidebar a span {
    display: none;
  }

  .section .top-section {
  }
}

@media (max-width: 450px) {
  section .sort-menu {
    flex-direction: column;
  }
}
