.column2 .drag-drop-btn {
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  border: 3px dashed var(--main-color);
  color: var(--main-color);
  cursor: grab;
  font-size: 18px;
}
.column2 .checkout-btn {
  text-align: center;
  margin-top: 35px;
  padding: 10px;
  background-color: rgba(68, 209, 135, 0.7);
  border-radius: 20px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  box-shadow: 1px 1px 10px grey;
}
.column2 .checkout-btn:hover {
  background-color: var(--main-color);
}
.load-more-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.load-more-btn a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 20px;
  transition: all 0.4s;
}
.load-more-btn i {
  margin-right: 5px;
}
.load-more-btn a:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
