@import "../base/base.css";

@import "../base/layout.css";

@import "../vendor/font-awesome.min.css";

.sidebar {
  background-color: yellow;
}

.filters {
}

.sort-menu {
  background-color: blue;
}

.products {
  background-color: green;
}
.checkout {
  background-color: aqua;
}
