@import "../base/base.css";

@import "../base/layout.css";

@import "../vendor/font-awesome.min.css";
@import "../vendor/ubuntu.css";

@import "../components/button.css";
@import "../components/product-container.css";

.sidebar {
  background-color: var(--main-color);
}
.sidebar a {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-left: 40px;
  transition: all 0.4s;
}

.sidebar a:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgba(250, 250, 250, 0.6);
  color: var(--main-color);
}

.sidebar .first-menu-option {
  margin-top: 15vh;
}
.sidebar a i {
  margin-right: 10px;
}

.sidebar > .selected {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
}
.top-section > .filters {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 20px;
  flex: 1;
}

.top-section a {
  text-decoration: none;
  padding: 0.2em 0.7em;
  color: #000000;
  transition: all 0.2s;
}
.top-section .selected {
  background-color: var(--main-color);
  border-radius: 20px;
  color: var(--secondary-color);
}
.top-section .selected i {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 0.2em 0.3em;
  border-radius: 20px;
}
.top-section a i {
  margin-right: 10px;
}
.top-section .filters a:hover {
  background-color: rgba(68, 209, 135, 0.6);
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 0.3em 0.7em;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  position: sticky;
  right: 50px;
  font-size: 18px;
}
.profile-info .notification-icon {
  display: flex;
  align-items: center;
  position: relative;
}
.profile-info .notification-sign {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  right: 14px;
  top: 8px;
}

.sort-menu {
  height: 40px;
  font-size: 14px;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
}
.sort-menu span {
  font-weight: bold;
}
.sort-menu .drop-down-menu {
  display: flex;
  gap: 8px;
}
.sort-menu a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
.sort-menu i {
  margin-left: 5px;
}

.columns .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  gap: 20px;
  padding: 80px 100px 30px 40px;
}

.columns .column2 {
  background-color: var(--secondary-color);
  padding-right: 15px;
  font-size: 14px;
}
.order-info p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 35px;
}

.order-info i {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0.5em 0.5em;
  font-size: 16px;
  width: 30px;
  text-align: center;
  border-radius: 10px;
  color: var(--main-color);
  background-color: #def7f7;
}
.order-dial {
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}
.columns2 .shoping-cart {
  display: flex;
}
.shoping-cart .cart-item {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}
.cart-img {
  width: 50px;
}
.shoping-cart .item-name {
}
.shoping-cart .item-weight {
}
.shoping-cart .item-quantity {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  align-items: center;
}
.item-quantity a {
  height: 100%;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
}
.item-quantity a:hover {
  background-color: var(--main-color);
}

.cart-item .delete-cart-item:hover {
  color: red;
}

.column2 .total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  font-size: 18px;
}

.column2 .card-details {
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.visa-pic {
  height: 12px;
  width: 35px;
}
.card-details p {
  margin-left: 5px;
  padding-left: 5px;
}

.edit-icon {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}
